<div class="container">
    <div class="row">
        <h2 id="details">Pricing Per Zip</h2>
    </div><br>
            
             
               <!-- Pack 1-->
                <div class="col-md-3" id="home-box">
                    <div class="pricing_header">
                        <h2>Just try it</h2>
                        <div class="space"></div>
        </div>
                        <ul class="list-group">
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> One month only</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> No commitments</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 100,000 ads shown</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Target only your zip</li>
                                <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Light and clean</li>
                                <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Customizible HTML</li>
                            </ul>
                        
                        <div class="try">
                            <p class="price">$49.99</p>
                            <a class="btn btn-default btn-right" href="#" type="button">Create Ads</a>
                        </div>
                    </div>
                <!-- Pack 2-->
                <div class="col-md-3" id="home-box">
                    <div class="pricing_header">
                        <h2>Starter</h2>
                        <div class="space"></div>
        </div>
                        <ul class="list-group">
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 3 full months</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> No commitments</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 600,000 ads shown</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Target only your zip</li>
                                <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Light and clean</li>
                                <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Customizible HTML</li>
                            </ul>
                        
                        <div class="try">
                            <p class="price">$149.99</p>
                            <a class="btn btn-default btn-right" href="#" type="button">Create Ads</a>

                        </div>
                    </div>
                
                
                <!-- Pack 3-->
                <div class="col-md-3" id="home-box">
                    <div class="pricing_header">
                        <h2>Realtor</h2>
                        <div class="space"></div>
      </div>
                        <ul class="list-group">
                            
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 6 full months</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> No commitments</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 1,200,000 ads shown</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Target only your zip</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Light and clean</li>
                                <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Customizible HTML</li>
                            </ul>
                        
                        <div class="try">
                            <p class="price">$289.99</p>
                            <button class="btn btn-default btn-right" href="#" type="button">Create Ads</button></li>
                        </div>
                    </div>
                
                
                <!-- Pack 4-->
                <div class="col-md-3" id="home-box">
                    <div class="pricing_header">
                        <h2>Broker</h2>
                        <div class="space"></div>
      </div>
                        <ul class="list-group">
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 12 full months</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> No commitments</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> 2,400,000 ads shown</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Target only your zip</li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Light and clean</li>
                                <li class="list-group-item off"><span class="glyphicon glyphicon-remove"></span> Customizible HTML</li>
                            </ul>
                       
                        <div class="try">
                            <p class="price">$549.99</p>
                            <button class="btn btn-default btn-right" href="#" type="button">Create Ads</button></li>
                        </div>
                    
                </div> 
            </div>